<span class="back-arrow" (click)="backForm()">
    <img src="../../../assets/icons/arrow-left.svg" alt="" />
    Volver a Parametrización de adherencia
</span>

<h2 class="formGroup">Agregar nuevo perfil</h2>

<div>
    <form [formGroup]="formPerfiles" autocomplete="off">
        <div class="formGroup" [ngClass]="{ 'form-group': true, 'error-code': errorCode == true }">
            <label for="nombre">Nombre</label>
            <br>
            <small class="text-secondary">Ejemplo: Edwin Alonso Robayo Pereira</small>
            <input type="text" class="form-control" id="nombre" placeholder="Ingresa el Nombre" formControlName="nombre"
                required />
            <p class="text-error-code" ion-text *ngIf="formPerfiles.get('nombre').hasError('maxlength')">
                Máximo 50 caracteres
            </p>
        </div>


        <div class="formGroup" [ngClass]="{ 'form-group': true, 'error-code': errorCode == true }">
            <label for="correo">Correo</label>
            <br>
            <small class="text-secondary">Ejemplo: edwinpereira@bancopo.com</small>
            <input type="text" class="form-control" id="correo" placeholder="Ingresa el Correo" formControlName="correo"
                required />
            <p class="text-error-code" ion-text *ngIf="formPerfiles.get('correo').hasError('maxlength')">
                Máximo 50 caracteres
            </p>
            <p class="text-error-code" ion-text *ngIf="formPerfiles.get('correo').hasError('pattern')">
                El correo ingresado no es válido
            </p>

        </div>
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-secondary" (click)=backForm()>Cancelar</button>
                <button *ngIf="isCreate" type="button" class="btn btn-success" (click)="save()" id="openModal"
                    [disabled]="formPerfiles.invalid">Guardar
                </button>
                <button *ngIf="!isCreate" type="button" class="btn btn-success" (click)="update()" id="openModal"
                    [disabled]="formPerfiles.invalid">Actualizar
                </button>
            </div>
        </div>
    </form>
</div>